/**
分页居中
 */
.tablePagination{
  text-align: center;
  float:right;
  margin-top: 10px !important;
}

.command-textarea{
  height: calc(30vh);
}

/*
按钮右排列
 */
.button-right {
  text-align: right;
}

/**
高级属性样式
 */
.advanced{

  margin-bottom: -32px;

  :global{

    .ant-collapse{
      margin-left: -18px;
    }

    .ant-collapse-header{
      background-color: white;
      margin-top: -17px;
    }

    //去掉  隐藏的折叠header的鼠标小手形状
    .ant-collapse > .ant-collapse-item.ant-collapse-no-arrow > .ant-collapse-header {
      cursor: default;
    }

  }
}

/**
消除表的滚动条
 */
.roll-table{

  :global{

    .ant-table-fixed-header .ant-table-scroll .ant-table-header{
      overflow-y: auto!important;
    }


    .ant-table-fixed-header > .ant-table-content > .ant-table-scroll > .ant-table-body{
      overflow-y: auto !important;
    }
  }
}

.command-card {
  :global {
    .ant-card-wider-padding .ant-card-body {
        padding-top: 0;
        padding-bottom: 0;
    }
  }
}

.dragTable{
  :global{
    tr.drop-over-downward td {
      border-bottom: 2px dashed #1890ff;
    }

    tr.drop-over-upward td {
      border-top: 2px dashed #1890ff;
    }

    .ant-spin-container {
      margin-top: 40px;
    }
  }
}


